<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pico | Cửa hàng Điện máy lạnh</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/CSSCustomer/searchcss.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script src="~/Content/jquery-3.3.1.min.js"></script>
    <link href="~/Content/fontawesome/css/all.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div class="header">
        <div id="adv-header" style="text-align:center">
            <img src="~/Content/images/4095_banner-hoa-don-dien-tu-1200x60-01.gif" />
        </div>
        <!--container-->
        <div class="container">
            <a href="#menu-hidden" class="btn menu-hidden">&nbsp</a>
            <header class="row">
                <!--mainheader-->
                <div id="main-header">
                    <div class="col-md-3 col-sm-2 col-xs-12">
                        <div id="logo">
                            <img src="~/Content/images/logo.png" />
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 no-padding">
                        <div class="menu">
                            <ul id="top-navigation" style="list-style-type:none; overflow:hidden; padding-left:0px;width: 100%;margin: auto;">
                                <li style="float:left"><a href="#Giasoc" style="color:orangered;display: block;padding:5px" class="fas fa-splotch">Giá sốc</a></li>
                                <li style="float:left"><a href="#Khuyenmai" style="color:orangered;padding:5px" class="fas fa-gift">Khuyến mại</a></li>
                                <li style="float:left"><a href="#Gopy" style="color:darkturquoise;padding:5px" class="far fa-comment">Góp ý</a></li>
                                <li style="float:left"><a href="#Hoadon" style="color:darkturquoise;padding:5px" class="far fa-clipboard">Hóa đơn</a></li>
                                <li style="float:left"><a href="#Tintuc" style="color:darkturquoise;padding:5px" class="fas fa-clipboard-list">Tin tức</a></li>
                                <li style="float:left"><a href="#Timsieuthi" style="color:darkturquoise;padding:5px" class="fas fa-map-marker-alt">Tìm siêu thị</a></li>
                            </ul>
                            <div class="search-area" style="display: block; width: 100%;">
                                <form class="example">
                                    <input type="text" placeholder="Nhập thông tin tìm kiếm..." name="search">
                                    <button type="submit"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div id="notify-box">
                            <ul>
                                <li class="cart-box ">
                                    <a class="" href="/cart" rel="nofollow">
                                        <i class="fa fa-cart-arrow-down  notifycation"></i>Giỏ hàng
                                        <span class="notify-count" id="count_shopping_cart">0</span>
                                    </a>
                                </li>
                                <li class="help-box">
                                    <a href="/30s-huong-dan-mua-hang-online.html" rel="nofollow" title="Hướng dẫn mua hàng">
                                        <i class="fas fa-clipboard-list  notifycation"></i>Hướng dẫn
                                    </a>
                                </li>
                                <li class="support-box">
                                    <a href="/27s-chinh-sach-ho-tro.html" rel="nofollow" title="Chính sách hỗ trợ">
                                        <i class="fas fa-phone  notifycation"></i>
                                        Hỗ trợ
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="sub-header col-md-5 col-sm-5 col-xs-12">
                    <div class="row sidebar-box red">
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <div class="menu-box open">
                                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                    <div class="sidebar-box-heading">
                                        <h4><i class="fa fa-list list-icon-menu"></i>Danh mục mặt hàng</h4>
                                    </div>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li data-submenu-id="submenu-84" class="submenu-84">
                                        <a href="/dien-tu-nhom-84.html" title="Điện tử">
                                            <img src="~/Content/images/dientu.png" />
                                            <strong>Điện tử</strong>
                                        </a>
                                        <div class="guide">
                                            <a href="/tivi-nhom-157.html" title="Tivi" class="">Tivi</a>,
                                            <a href="/truyen-hinh-so-nhom-410.html" title="Truyền hình số" class="">Truyền hình số</a>,
                                            <a href="/dau-phat-hd-smart-box-nhom-159.html" title="Đầu phát HD, Smart Box" class="">Smart Box</a>
                                        </div>
                                    </li>
                                    <li data-submenu-id="submenu-70" class="submenu-70">
                                        <a href="/dien-lanh-nhom-70.html" title="Điện lạnh">
                                            <img src="~/Content/images/dienlanh.png" />
                                            <strong class="submenu-title">Điện lạnh</strong>
                                        </a>
                                        <div class="guide">
                                            <a href="/dieu-hoa-nhom-73.html" title="Điều hòa, máy lạnh" class="">Điều hòa</a>,
                                            <a href="/tu-lanh-nhom-71.html" title="Tủ lạnh" class="">Tủ lạnh</a>,
                                            <a href="/tu-lanh-nhom-71.html?&amp;filter=:4673:" title="Tủ Nhật" class=""><img src="~/Content/images/hot.gif" alt="Tủ Nhật"> Tủ Nhật</a>,
                                            <a href="/may-giat-nhom-72.html" title="Máy giặt" class="">Máy giặt</a>
                                        </div>
                                    </li>
                                    <li data-submenu-id="submenu-65" class="submenu-65">
                                        <a href="/gia-dung-nhom-65.html" title="Đồ gia dụng" class="maintainHover">
                                            <img src="~/Content/images/dogiadung.png" />
                                            <strong class="submenu-title">Đồ gia dụng</strong>
                                        </a>
                                        <div class="guide">
                                            <a href="/lo-vi-song-nhom-137.html" title="Lò vi sóng" class="maintainHover">Lò vi sóng</a>,
                                            <a href="/binh-tam-nong-lanh-nhom-146.html?&amp;filter=:4659:" title="Bình tắm gián tiếp" class="maintainHover">Bình tắm gián tiếp</a>,
                                            <a href="/may-suoi--den-suoi-nha-tam-nhom-130.html?&amp;filter=:3704:" title="Quạt sưởi" class="maintainHover">Quạt sưởi</a>
                                        </div>
                                    </li>
                                    <li data-submenu-id="submenu-236" class="submenu-236">
                                        <a href="/am-thanh-nhom-236.html" title="Âm thanh">
                                            <img src="~/Content/images/amthanh.png" />
                                            <strong class="submenu-title">Âm thanh</strong>
                                        </a>
                                        <div class="guide">
                                            <a href="/thiet-bi-karaoke-nhom-244.html" title="Thiết bị Karaoke">Karaoke</a>,
                                            <a href="/dan-am-thanh-nhom-98.html" title="Dàn âm thanh">Dàn âm thanh</a>,
                                            <a href="/loa-hiend-hifi-nhom-95.html" title="Loa Hi-End, Hi-Fi">Hi-End, Hi-Fi</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="top-header">
                    <div class="col-lg-7 col-md-7 col-sm-7">
                        <div class="contact-row">
                            <div class="phone">
                                <i class="fa fa-phone-square"></i>
                                <a href="tel:19006619"><span>1900.6619</span></a> -
                                <a href="tel:+84904881169"><span>0904.881169</span></a> (8h15 - 17h30)
                            </div>
                            <div class="login-account">
                                <a href="/login" title="Đăng nhập" rel="nofollow" class="blue">Đăng nhập</a>
                                <span>&nbsp;hoặc&nbsp;</span>
                                <a href="/register" title="Đăng ký" rel="nofollow" class="blue">Đăng ký</a>

                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </div>
    </div>
    @RenderBody()
    <!--footer-->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 banner">
                    <a href="http://pico.vn/gia-re-moi-ngay" class="col-md-4 " target="_blank">
                        <div class="banner-item  orange">
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <i class="fa fa-truck"></i>
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                <h4>Vận chuyển </h4>
                                <p>Miễn phí Bán kính 200KM</p>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <span class="button" name="bn">Xem</span>
                            </div>
                        </div>
                    </a>
                    <a href="http://pico.vn/gia-re-moi-ngay" class="col-md-4 " target="_blank">
                        <div class="banner-item  light-blue">
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <i class="fa fa-credit-card"></i>
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                <h4>Thanh toán cod</h4>
                                <p>Thanh toán trực tiếp khi nhận hàng</p>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <span class="button">Xem</span>
                            </div>
                        </div>
                    </a>
                    <a href="http://pico.vn/gia-re-moi-ngay" class="col-md-4" target="_blank">
                        <div class="banner-item  gray">
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                <h4>Đổi trả hàng</h4>
                                <p>Thời gian đổi trả hàng lên đến 30 ngày</p>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <i class="fas fa-sync">
                                </i>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- /Banner -->
            </div>
            <div class="upper-footer col-md-12 col-sm-12 col-xs-12">
                <div id="upper-footer" style="background: #fff;padding: 5px 20px;border-bottom: 1px solid #dfe6f3;">
                    <div class="row">
                        <!-- Newsletter -->
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <form class="newsletter">
                                <h4>Nhận bản tin</h4>
                                <input type="text" placeholder="Nhập e-mail nhận bản tin khuyến mại...">
                                <input type="button" onclick="subcribeNewsletter($('#newsletter'))" name="newsletter-submit" value="Đăng ký">
                            </form>
                        </div>
                        <!-- /Newsletter -->
                        <!-- Social Media -->
                        <div class="col-md-3 col-sm-3 col-xs-12 social-media">
                            <h4>FOLLOW US</h4>
                            <ul>
                                <li class="social-googleplus tooltip-hover" data-toggle="tooltip" data-placement="top" title="Google+">
                                    <a href="https://plus.google.com/+PicoJsc" target="_blank"></a>
                                </li>
                                <li class="social-facebook tooltip-hover" data-toggle="tooltip" data-placement="top" title="Facebook">
                                    <a href="http://www.facebook.com/dienmaypico" target="_blank"></a>
                                </li>
                                <li class="social-youtube tooltip-hover" data-toggle="tooltip" data-placement="top" title="Youtube">
                                    <a href="https://www.youtube.com/congtypico" target="_blank"></a>
                                </li>
                            </ul>
                        </div>
                        <!-- /Social Media -->
                    </div>
                </div>
            </div>
            <div class="main-footer col-md-12 col-sm-12 col-xs-12">
                <div id="main-footer">
                    <div class="row">
                        <!-- The Service -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <h4>PICO.VN</h4>
                            <ul>
                                <li>
                                    <a href="/lich-su-cong-ty.html" rel="nofollow">
                                        <i class="fas fa-caret-right">
                                        </i>Giới thiệu hệ thống siêu thị
                                    </a>
                                </li>
                                <li>
                                    <a href="/he-thong-sieu-thi" rel="nofollow">
                                        <i class="fas fa-caret-right">
                                        </i>Địa chỉ chuỗi siêu thị
                                    </a>
                                </li>
                                <li>
                                    <a href="/tuyen-dung" rel="nofollow">
                                        <i class="fas fa-caret-right">
                                        </i>Tuyến dụng
                                    </a>
                                </li>
                                <li>
                                    <a href="/members" rel="nofollow">
                                        <i class="fas fa-caret-right">
                                        </i>Thẻ thành viên
                                    </a>
                                </li>
                                <li>
                                    <a href="/trung-tam-bao-hanh" rel="nofollow">
                                        <i class="fas fa-caret-right">
                                        </i>Điểm bảo hành hãng
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- /The Service -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <h4>Chính sách &amp; Quy định</h4>
                            <ul>
                                <li>
                                    <a href="/32s-dieu-khoan-bao-mat.html" rel="nofollow">
                                        <i class="fas fa-caret-right">
                                        </i>Chính sách bảo mật
                                    </a>
                                </li>
                                <li>
                                    <a href="/7s-chinh-sach-van-chuyen-hang.html" rel="nofollow">
                                        <i class="fas fa-caret-right">
                                        </i>
                                        Chính sách vận chuyển
                                    </a>
                                </li>
                                <li>
                                    <a href="/1s-chinh-sach-bao-hanh.html" rel="nofollow">
                                        <i class="fas fa-caret-right">
                                        </i>Chính sách bảo hành
                                    </a>
                                </li>
                                <li>
                                    <a href="/11s-chinh-sach-doi-hang.html" rel="nofollow">
                                        <i class="fas fa-caret-right">
                                        </i>Chính sách đổi, trả hàng
                                    </a>
                                </li>
                                <li>
                                    <a href="/35s-quy-dinh-thanh-toan.html" rel="nofollow">
                                        <i class="fas fa-caret-right">
                                        </i>Quy định thanh toán
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- Information -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <h4>Hướng dẫn sử dụng</h4>
                            <ul>
                                <li>
                                    <a href="/30s-huong-dan-mua-hang-online.html" rel="nofollow">
                                        <i class="fas fa-caret-right" rel="nofollow">
                                        </i>Hướng dẫn mua hàng
                                    </a>
                                </li>
                                <li>
                                    <a href="/6s-cac-hinh-thuc-thanh-toan.html" rel="nofollow">
                                        <i class="fas fa-caret-right" rel="nofollow">
                                        </i>Hướng dẫn thanh toán
                                    </a>
                                </li>
                                <li>
                                    <a href="/54s-huong-dan-su-dung-hoa-don-dien-tu-invoice.html" rel="nofollow">
                                        <i class="fas fa-caret-right" rel="nofollow">
                                        </i>Hướng dẫn sử dụng HĐĐT
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- /Information -->
                        <!-- Contact Us -->
                        <div class="col-md-3 col-sm-6 col-xs-12 contact-footer-info">
                            <h4>Liên hệ</h4>
                            <ul>
                                <li style="margin:0px 0px 0px 23px;color: #596067;">
                                    Tổng đài bán hàng (8:15 - 18:00)
                                </li>
                                <li>
                                    <i class="fas fa-phone"></i>
                                    <a href="tel:19006619" rel="nofollow">
                                        <strong>1900.6619</strong>
                                    </a>, hoặc:
                                    <a href="tel:+84904881169" rel="nofollow">
                                        <b>0904.881169</b>
                                    </a>
                                </li>
                                <li>
                                    <i class="fas fa-envelope"></i>
                                    <a href="mailto:online@pico.com.vn" rel="nofollow">
                                        online@pico.com.vn
                                    </a>
                                </li>
                                <li style="margin:0px 0px 0px 23px;color: #596067;">
                                    Tổng đài CSKH (8:15 - 21:30)
                                </li>
                                <li>
                                    <i class="fas fa-phone"></i>
                                    <a href="tel:19006699" rel="nofollow">
                                        <strong>1900.6699</strong>
                                    </a>
                                </li>
                                <li>
                                    <i class="fas fa-envelope"></i>
                                    <a href="mailto:chamsockhachhang@pico.com.vn" rel="nofollow">
                                        chamsockhachhang@pico.com.vn
                                    </a>
                                </li>
                                <li>
                                    <i class="fas fa-envelope"></i>
                                    <a href="mailto:webmaster@pico.vn" rel="nofollow">webmaster@pico.vn</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /Contact Us -->
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div id="00999_STORE-PICO">
                    <div class="store-pico">
                        <h2>Hệ thống Siêu Thị Điện Máy Pico trên toàn quốc</h2>
                    </div>
                    <div class="store-active">
                        <ul>
                            <li id="1">
                                <a href="javascript:void(0);" data-id="1">
                                    Hà Nội
                                    <label>12</label>
                                    <b></b>
                                </a>
                            </li>
                            <li id="6">
                                <a href="javascript:void(0);" data-id="2">
                                    Hải Phòng
                                    <label>2</label>
                                    <b></b>
                                </a>
                            </li>
                            <li id="10">
                                <a href="javascript:void(0);" data-id="3">
                                    Ninh Bình
                                    <label>1</label>
                                    <b></b>
                                </a>
                            </li>
                            <li id="16">
                                <a href="javascript:void(0);" data-id="4">
                                    Phú Thọ
                                    <label>2</label>
                                    <b></b>
                                </a>
                            </li>
                            <li id="19">
                                <a href="javascript:void(0);" data-id="5">
                                    Bắc Giang
                                    <label>1</label>
                                    <b></b>
                                </a>
                            </li>
                            <li id="22">
                                <a href="javascript:void(0);" data-id="6">
                                    Bắc Ninh
                                    <label>2</label>
                                    <b></b>
                                </a>
                            </li>
                            <li id="36">
                                <a href="javascript:void(0);" data-id="7">
                                    Hà Nam
                                    <label>1</label>
                                    <b></b>
                                </a>
                            </li>
                            <li id="48">
                                <a href="javascript:void(0);" data-id="8">
                                    Nam Định
                                    <label>1</label>
                                    <b></b>
                                </a>
                            </li>
                            <li id="61">
                                <a href="javascript:void(0);" data-id="9">
                                    Thanh Hóa
                                    <label>1</label>
                                    <b></b>
                                </a>
                            </li>
                            <li id="67">
                                <a href="javascript:void(0);" data-id="10">
                                    Vĩnh Phúc
                                    <label>1</label>
                                    <b></b>
                                </a>
                            </li>
                        </ul>
                        <div class="store-drop" id="store-1" style="display: none;">
                            <a href="https://pico.vn/map/33/pico-ngoc-hoi">
                                <span>●</span>KM13+500 Quốc lộ 1A, Ngọc Hồi, Thanh Trì, Hà Nội
                            </a>
                            <a href="https://pico.vn/map/34/pico-phuc-dien">
                                <span>●</span>KM12 Quốc lộ 32, Phúc Diễn, Bắc Từ Liêm, Hà Nội
                            </a>
                            <a href="https://pico.vn/map/36/pico-ha-dong">
                                <span>●</span>38 Phùng Hưng, Phường Phúc La, Quận Hà Đông, Hà Nội
                            </a>
                            <a href="https://pico.vn/map/37/pico--minh-khai">
                                <span>●</span>Tầng 01 TTTM V+ Hòa Bình, 505 Minh Khai, Phường Vĩnh Tuy, Quận Hai Bà Trưng, Hà Nội
                            </a>
                            <a href="https://pico.vn/map/38/pico-quang-trung--hn">
                                <span>●</span>944 Quang Trung, Ba La, P. Yên Nghĩa, Q. Hà Đông, Hà Nội
                            </a>
                            <a href="https://pico.vn/map/32/pico-nguyen-trai-2">
                                <span>●</span>346 Nguyễn Trãi, Nam Từ Liêm, Hà Nội
                            </a>
                            <a href="https://pico.vn/map/24/so-8-le-trong-tan-thanh-xuan-ha-noi">
                                <span>●</span>08 Lê Trọng Tấn, quận Thanh Xuân, Hà Nội
                            </a>
                            <a href="https://pico.vn/map/23/so-2-pho-long-bien-2-ngoc-lam-long-bien-ha-noi">
                                <span>●</span>02 Long Biên 2, Ngọc Lâm, Long Biên, Hà Nội
                            </a>
                            <a href="https://pico.vn/map/1/pico-76-nguyen-trai-thanh-xuan-ha-noi">
                                <span>●</span>76 Nguyễn Trãi, quận Thanh Xuân, Hà Nội
                            </a>
                            <a href="https://pico.vn/map/3/pico-173-xuan-thuy-cau-giay-ha-noi">
                                <span>●</span>173 Xuân Thủy, quận Cầu Giấy, Hà Nội
                            </a>
                            <a href="https://pico.vn/map/7/pico-324-tay-son-dong-da-ha-noi">
                                <span>●</span>324 Tây Sơn, quận Đống Đa, Hà Nội
                            </a>
                            <a href="https://pico.vn/map/19/240-ton-duc-thang-dong-da">
                                <span>●</span>240 Tôn Đức Thắng, quận Đống Đa, Hà Nội
                            </a>
                        </div>
                        <div class="store-drop" id="store-2" style="display: none;">
                            <a href="https://pico.vn/map/28/pico-hai-phong-2">
                                <span>●</span>04 Bạch Đằng, Hạ Lý, Hồng Bàng, Hải Phòng
                            </a>
                            <a href="https://pico.vn/map/21/275-lach-tray--tp-hai-phong">
                                <span>●</span>Số 275 Lạch Tray, Tp. Hải Phòng, Hải Phòng
                            </a>
                        </div>
                        <div class="store-drop" id="store-3" style="display: none;">
                            <a href="https://pico.vn/map/25/90-le-hong-phong-van-giang-tp-ninh-binh">
                                <span>●</span>90 Lê Hồng Phong, Vân Giang, Tp. Ninh Bình, Ninh Bình
                            </a>
                        </div>
                        <div class="store-drop" id="store-4" style="display: none;">
                            <a href="https://pico.vn/map/31/pico-viet-tri-02">
                                <span>●</span>2175 Đại lộ Hùng Vương, Tp. Việt Trì, Phú Thọ
                            </a>
                            <a href="https://pico.vn/map/15/pico-1454-hung-vuong-viet-tri-phu-tho">
                                <span>●</span>1454 Hùng Vương, Việt Trì, Phú Thọ, Phú Thọ
                            </a>
                        </div>
                        <div class="store-drop" id="store-5" style="display: none;">
                            <a href="https://pico.vn/map/26/pico-hoang-van-thu-bac-giang">
                                <span>●</span>Tòa nhà Hapro, Quảng trường 3/2, Tp. Bắc Giang, Bắc Giang
                            </a>
                        </div>
                        <div class="store-drop" id="store-6" style="display: none;">
                            <a href="https://pico.vn/map/35/pico-bac-ninh-02">
                                <span>●</span>04 Nguyễn Văn Cừ, P. Ninh Xá, TP Bắc Ninh, Bắc Ninh
                            </a>
                            <a href="https://pico.vn/map/22/578-tran-phu-bac-ninh">
                                <span>●</span>578 Trần Phú, Từ Sơn, Tp. Bắc Ninh, Bắc Ninh
                            </a>
                        </div>
                        <div class="store-drop" id="store-7" style="display: none;">
                            <a href="https://pico.vn/map/30/pico-ha-nam">
                                <span>●</span>Part Tower đối diện ga Phủ Lý, Lê Hoàn, Phủ Lý, Hà Nam
                            </a>
                        </div>
                        <div class="store-drop" id="store-8" style="display: none;">
                            <a href="https://pico.vn/map/27/pico-nam-dinh">
                                <span>●</span>87 Quang Trung, P. Quang Trung, Tp. Nam Định, Nam Định
                            </a>
                        </div>
                        <div class="store-drop" id="store-9" style="display: none;">
                            <a href="https://pico.vn/map/29/pico-thanh-hoa">
                                <span>●</span>240 Lê Hoàn, Ba Đình, TP. Thanh Hóa, Thanh Hóa
                            </a>
                        </div>
                        <div class="store-drop" id="store-10" style="display: none;">
                            <a href="https://pico.vn/map/18/pico-1-hai-ba-trung-phuc-yen-vinh-phuc">
                                <span>●</span>01 Hai Bà Trưng, tx. Phúc Yên, Vĩnh Phúc, Vĩnh Phúc
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lower-footer col-md-12 col-sm-12 col-xs-12">
                <div id="lower-footer">
                    <div class="line-1" >
                        <div class="payment-list footer-block col-md-5 col-sm-5 col-xs-5">
                            <span class="title">Chấp nhận thanh toán:</span>
                            <span class="payment2">
                                <img src="~/Content/images/visa.png" />
                            </span>
                            <span class="payment3">
                                <img src="~/Content/images/mastercard.png" />
                            </span>
                        </div>
                        <div class="bct-certificate footer-block col-md-2 col-sm-2 col-xs-2">
                            <a href="http://online.gov.vn/HomePage/CustomWebsiteDisplay.aspx?DocId=1051" title="Cục Thương mại điện tử và Công nghệ thông tin – Bộ Công Thương" target="_blank" rel="nofollow">
                                <span class="ico-bct ico">
                                    <img src="~/Content/images/bocongthuong.png" />
                                </span>
                            </a>
                        </div>
                        <div class="ssl-certificate footer-block col-md-5 col-sm-5 col-xs-5">
                            <span class="title">Chứng nhận Website bảo mật:</span>
                            <a href="https://profile.globalsign.com/SiteSeal/siteSeal/profile/profile.do?p1=91004a46&amp;p2=63ce494fd5ead3f1b1e47eddc2df5669de3db12d2790542ad4ebd2ebeba23b9482c12c29876cec2f3f8b1415&amp;p3=1225e3530bb5a35954aafe483e6c71c2f81f2ae9" rel="nofollow">
                                <span class="ico-ssl ico">
                                    <img src="~/Content/images/secure.png" />
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="line2">
                        <div class="row">
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="subfooter">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="subfooter">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="subfooter">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="line2">
                        <div class="copyright">
                            <p>
                                © Công ty Cổ phần Pi Co. Văn phòng: Tầng 3, Tòa nhà Rivera Park, số 173 Xuân Thủy, Cầu Giấy, Hà Nội. <br>
                                GPĐKKD số 0102018260 sở KHĐT Tp. Hà Nội cấp ngày 25/08/2006. Đăng ký thay đổi lần thứ: 24, ngày 17/06/2016
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/footer-->

</body>
</html>
