<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FPT-Shop</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Style.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="fpt-hdtop">
                <div class="fpt-wrap">
                    <a class="fs-logo" href="/" title="">
                        <i class="ficon f-logo"></i>
                    </a>
                    <ul class="fs-hdmn">
                        <li>
                            <a href="/tin-tuc" title="">
                                <i class="ficon f-news"></i> <span>Thông tin hay</span>
                            </a>
                            <ul class="fs-hdmsub fs-hdmsnews">
                                <li class="">
                                    <a href="/tin-tuc" title="">Tin mới</a>
                                </li>
                                <li>
                                    <a href="/tin-tuc/tin-khuyen-mai" title="">Khuyến mãi</a>
                                </li>
                                <li>
                                    <a href="/tin-tuc/thu-thuat" title="">Thủ thuật</a>
                                </li>
                                <li>
                                    <a href="/tin-tuc/for-gamers" title="">For Gamers</a>
                                </li>
                                <li>
                                    <a href="/tin-tuc/video-review" title="">Video hot</a>
                                </li>
                                <li>
                                    <a href="/tin-tuc/goc-khach-hang" title="">Góc khách hàng</a>
                                </li>
                                <li>
                                    <a href="/tin-tuc/xu-huong" title="">Xu hướng</a>
                                </li>
                                <li>
                                    <a href="/tin-tuc/giai-tri" title="">Giải trí</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/ffriends" title="ffriends">
                                <i class="ficon f-mtts"></i>
                                <span>Mua trước trả sau</span>
                            </a>
                        </li>
                        <li>
                            <a href="/gio-hang-v2" title="">
                                <i class="ficon f-cart"></i>
                                <span>Giỏ hàng</span>
                                <b class="fs-cartic countTotalCart" style="display: none;">0</b>
                            </a>
                        </li>
                    </ul>
                    <div class="fs-search">
                        <form>
                            <input class="fs-stxt" type="text" placeholder="Nhập tên điện thoại, máy tính, phụ kiện... cần tìm" autocomplete="off" maxlength="50">
                            <button type="submit" class="search-button">
                                <i class="ficon f-search"></i>
                            </button>
                            <div class="fs-sresult" style="display : block !important">
                                <div class="fs-sremain">
                                    <ul style="display: none;"></ul>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <nav class="fpt-menu">
                <div class="fpt-wrap">
                    <ul class="fs-mnul clearfix">
                        <li>
                            <a href="/dien-thoai" title="ĐIỆN THOẠI">
                                <i class="ficon f-dthoai"></i>ĐIỆN THOẠI
                                <span class="ficon"></span>
                            </a>
                            <div class="fs-mnsub">
                                <div class="fs-mnbox">
                                    <div class="fs-mntd fs-mntd1">
                                        <p class="fs-mnstit">Hãng sản xuất</p>
                                        <ul class="fs-mnsul fs-mnsul3 clearfix">
                                            <li>
                                                <a href="/dien-thoai/apple-iphone" title="Apple (iPhone)">Apple (iPhone)</a>
                                            </li>
                                            <li>
                                                <a href="/dien-thoai/samsung" title="Samsung">Samsung</a>
                                            </li>
                                            <li>
                                                <a href="/dien-thoai/oppo" title="OPPO">OPPO</a>
                                            </li>
                                            <li>
                                                <a href="/dien-thoai/huawei" title="Huawei">Huawei</a>
                                            </li>
                                            <li>
                                                <a href="/dien-thoai/xiaomi" title="Xiaomi">Xiaomi</a>
                                            </li>
                                            <li>
                                                <a href="/dien-thoai/vsmart" title="VSmart">VSmart</a>
                                            </li>
                                            <li>
                                                <a href="/dien-thoai/nokia" title="Nokia">Nokia</a>
                                            </li>
                                            <li>
                                                <a href="/dien-thoai/honor" title="HONOR">HONOR</a>
                                            </li>
                                            <li>
                                                <a href="/dien-thoai/vivo" title="Vivo">Vivo</a>
                                            </li>
                                            <li>
                                                <a href="/dien-thoai/realme" title="Realme">Realme</a>
                                            </li>
                                            <li>
                                                <a href="/dien-thoai/asus" title="Asus">Asus</a>
                                            </li>
                                            <li>
                                                <a href="/dien-thoai/wiko" title="Wiko">Wiko</a>
                                            </li>
                                            <li>
                                                <a href="/dien-thoai/masstel" title="Masstel">Masstel</a>
                                            </li>
                                            <li>
                                                <a href="/dien-thoai/itel" title="Itel">Itel</a>
                                            </li>
                                            <li>
                                                <a href="/dien-thoai/mobiistar" title="Mobiistar">Mobiistar</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="fs-mntd fs-mntd2">
                                        <p class="fs-mnstit">Mức giá</p>
                                        <ul class="fs-mnsul fs-mnsul1 clearfix">
                                            <li>
                                                <a href="/dien-thoai/duoi-1-trieu" title="Dưới 1 triệu">Dưới 1 triệu</a>
                                            </li>
                                            <li>
                                                <a href="/dien-thoai/tu-1-3-trieu" title="Từ 1 - 3 triệu">Từ 1 - 3 triệu</a>
                                            </li>
                                            <li>
                                                <a href="/dien-thoai/tu-3-6-trieu" title="Từ 3 - 6 triệu">Từ 3 - 6 triệu</a>
                                            </li>
                                            <li>
                                                <a href="/dien-thoai/tu-6-10-trieu" title="Từ 6 - 10 triệu">Từ 6 - 10 triệu</a>
                                            </li>
                                            <li>
                                                <a href="/dien-thoai/tu-10-15-trieu" title="Từ 10 - 15 triệu">Từ 10 - 15 triệu</a>
                                            </li>
                                            <li>
                                                <a href="/dien-thoai/tren-15-trieu" title="Trên 15 triệu">Trên 15 triệu</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="fs-mntd fs-mntd3">
                                        <p class="fs-mnstit">Bán chạy nhất</p>
                                        <ul class="fs-mnsprod">
                                            <li class="clearfix">
                                                <a class="fs-mnspimg" href="/dien-thoai/oppo-f9">
                                                    <img src="//cdn.fptshop.com.vn/Uploads/Thumbs/2018/12/21/636809782352174184_oppo-f9-daidien.png" alt="OPPO F9">
                                                </a>
                                                <div>
                                                    <span>
                                                        <a href="/dien-thoai/oppo-f9" title="">OPPO F9</a>
                                                    </span>
                                                    <p>6.990.000 ₫</p>
                                                </div>
                                            </li>
                                            <li class="clearfix">
                                                <a class="fs-mnspimg" href="/dien-thoai/samsung-galaxy-j6-2018">
                                                    <img src="//cdn.fptshop.com.vn/Uploads/Thumbs/2018/5/23/636626649161305672_1o.png" alt="Samsung Galaxy J6 (2018)">
                                                </a>
                                                <div>
                                                    <span>
                                                        <a href="/dien-thoai/samsung-galaxy-j6-2018" title="">Samsung Galaxy J6 (2018)</a>
                                                    </span>
                                                    <p>3.990.000 ₫</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="fs-mntd fs-mntd4">
                                        <a target="_blank" href="https://fptshop.com.vn/ctkm/uu-dai-samsung" title="Samsung trợ giá H4">
                                            <img src="//cdn.fptshop.com.vn/Uploads/Originals/2018/10/3/636741614288912853_Banner 248x248.jpg" alt="Samsung trợ giá H4">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="/may-tinh-xach-tay" title="">
                                <i class="ficon f-laptop"></i> LAPTOP
                                <span class="ficon"></span>
                            </a>
                            <div class="fs-mnsub">
                                <div class="fs-mnbox">
                                    <div class="fs-mntd fs-mntd1">
                                        <p class="fs-mnstit">Hãng sản xuất</p>
                                        <ul class="fs-mnsul fs-mnsul3 clearfix">
                                            <li>
                                                <a href="/may-tinh-xach-tay/apple-macbook" title="Apple (Macbook)">Apple (Macbook)</a>
                                            </li>
                                            <li>
                                                <a href="/may-tinh-xach-tay/asus" title="Asus">Asus</a>
                                            </li>
                                            <li>
                                                <a href="/may-tinh-xach-tay/acer" title="Acer">Acer</a>
                                            </li>
                                            <li>
                                                <a href="/may-tinh-xach-tay/dell" title="Dell">Dell</a>
                                            </li>
                                            <li>
                                                <a href="/may-tinh-xach-tay/hp" title="HP">HP</a>
                                            </li>
                                            <li>
                                                <a href="/may-tinh-xach-tay/lenovo" title="Lenovo">Lenovo</a>
                                            </li>
                                            <li>
                                                <a href="/may-tinh-xach-tay/msi" title="MSI">MSI</a>
                                            </li>
                                            <li>
                                                <a href="/may-tinh-xach-tay/masstel" title="Masstel">Masstel</a>
                                            </li>
                                            <li>
                                                <a href="/may-tinh-xach-tay/haier" title="Haier">Haier</a>
                                            </li>
                                        </ul>
                                        <p class="fs-mnstit">
                                            <a href="/phan-mem">PHẦN MỀM</a>
                                        </p>
                                        <ul class="fs-mnsul fs-mnsul3 clearfix">
                                            <li>
                                                <a href="/phan-mem/diet-virus" title="Phần mềm Diệt Virus">Diệt Virus</a>
                                            </li>
                                            <li>
                                                <a href="/phan-mem/microsoft-office" title="Phần mềm Microsoft Office">Microsoft Office</a>
                                            </li>
                                            <li>
                                                <a href="/phan-mem/windows" title="Phần mềm windows">Windows</a>
                                            </li>
                                            <li>
                                                <a href="/phan-mem/phan-mem-khac" title="Phần mềm Phần mềm khác">Phần mềm khác</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="fs-mntd fs-mntd2">
                                        <p class="fs-mnstit">Mức giá</p>
                                        <ul class="fs-mnsul fs-mnsul1 clearfix">
                                            <li>
                                                <a href="/may-tinh-xach-tay/duoi-5-trieu" title="Dưới 5 triệu">Dưới 5 triệu</a>
                                            </li>
                                            <li>
                                                <a href="/may-tinh-xach-tay/tu-5-10-trieu" title="Từ 5 - 10 triệu">Từ 5 - 10 triệu</a>
                                            </li>
                                            <li>
                                                <a href="/may-tinh-xach-tay/tu-10-15-trieu" title="Từ 10 - 15 triệu">Từ 10 - 15 triệu</a>
                                            </li>
                                            <li>
                                                <a href="/may-tinh-xach-tay/tu-15-20-trieu" title="Từ 15 - 20 triệu">Từ 15 - 20 triệu</a>
                                            </li>
                                            <li>
                                                <a href="/may-tinh-xach-tay/tu-20-25-trieu" title="Từ 20 - 25 triệu">Từ 20 - 25 triệu</a>
                                            </li>
                                            <li>
                                                <a href="/may-tinh-xach-tay/tu-25-30-trieu" title="Từ 25 - 30 triệu">Từ 25 - 30 triệu</a>
                                            </li>
                                            <li>
                                                <a href="/may-tinh-xach-tay/tren-30-trieu" title="Trên 30 triệu">Trên 30 triệu</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="fs-mntd fs-mntd3">
                                        <p class="fs-mnstit">Mục đích sử dụng</p>
                                        <ul class="fs-mnsul fs-mnsul1 clearfix">
                                            <li>
                                                <a href="/may-tinh-xach-tay/san-pham-2-trong-1" title="Sản phẩm 2 trong 1">Sản phẩm 2 trong 1</a>
                                            </li>
                                            <li>
                                                <a href="/may-tinh-xach-tay/windows" title="Windows">Windows</a>
                                            </li>
                                            <li>
                                                <a href="/may-tinh-xach-tay/gia-re" title="Giá rẻ">Giá rẻ</a>
                                            </li>
                                            <li>
                                                <a href="/may-tinh-xach-tay/hien-dai" title="Hiện đại">Hiện đại</a>
                                            </li>
                                            <li>
                                                <a href="/may-tinh-xach-tay/sinh-vien-van-phong" title="Sinh viên - Văn phòng">Sinh viên - Văn phòng</a>
                                            </li>
                                            <li>
                                                <a href="/may-tinh-xach-tay/gaming-do-hoa" title="Gaming - Đồ họa">Gaming - Đồ họa</a>
                                            </li>
                                            <li>
                                                <a href="/may-tinh-xach-tay/mong-nhe" title="Mỏng nhẹ">Mỏng nhẹ</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="fs-mntd fs-mntd4">
                                        <a target="_blank" href="https://fptshop.com.vn/mua-laptop-den-fptshop" title="Laptop Giá Rẻ Tháng 1 H4">
                                            <img src="//cdn.fptshop.com.vn/Uploads/Originals/2019/1/14/636830540833075683_H4.png" alt="Laptop Giá Rẻ Tháng 1 H4">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="http://fstudiobyfpt.com.vn/" title=""><i class="ficon f-apple"></i> APPLE <span class="ficon"></span></a>
                            <div class="fs-mnsub">
                                <div class="fs-mnbox">
                                    <div class="fs-mntd fs-mntd1">
                                        <p class="fs-mnstit">Các sản phẩm Apple</p>
                                        <ul class="fs-mnsul fs-mnsul3 clearfix">
                                            <li>
                                                <a href="/dien-thoai/apple-iphone" title="iPhone">iPhone</a>
                                            </li>
                                            <li>
                                                <a href="/may-tinh-bang/apple-ipad" title="iPad">iPad</a>
                                            </li>
                                            <li>
                                                <a href="/may-tinh-xach-tay/apple-macbook" title="Mac">Macbook</a>
                                            </li>
                                            <li>
                                                <a href="/may-tinh-de-ban/imac" title="imac">iMac</a>
                                            </li>
                                            <li>
                                                <a href="/may-tinh-de-ban/mac-mini" title="Mac-mini">Mac mini</a>
                                            </li>
                                            <li>
                                                <a href="/may-tinh-de-ban/mac-pro" title="Mac-pro">Mac Pro</a>
                                            </li>
                                            <li>
                                                <a href="/smartwatch/apple" title="Watch">Watch</a>
                                            </li>
                                            <li>
                                                <a href="/phu-kien/apple-tv" title="Apple TV">Apple TV</a>
                                            </li>
                                            <li>
                                                <a href="/phu-kien/phu-kien-apple" title="Phụ kiện">Phụ kiện</a>
                                            </li>
                                            <li>
                                                <a href="/phu-kien/beats" title="Beats">Beats</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="fs-mntd fs-mntd2">
                                        <p class="fs-mnstit">Mức giá</p>
                                        <ul class="fs-mnsul fs-mnsul1 clearfix">
                                            <li>
                                                <a href="/dien-thoai/apple-iphone" title="Dưới 10 triệu">Dưới 10 triệu</a>
                                            </li>
                                            <li>
                                                <a href="/dien-thoai/apple-iphone" title="Từ 10 - 15 triệu">Từ 10 - 15 triệu</a>
                                            </li>
                                            <li>
                                                <a href="/dien-thoai/apple-iphone" title="Từ 15 - 20 triệu">Từ 15 - 20 triệu</a>
                                            </li>
                                            <li>
                                                <a href="/dien-thoai/apple-iphone" title="Từ 20 - 25 triệu">Từ 20 - 25 triệu</a>
                                            </li>
                                            <li>
                                                <a href="/dien-thoai/apple-iphone" title="Từ 25 - 30 triệu">Từ 25 - 30 triệu</a>
                                            </li>
                                            <li>
                                                <a href="/dien-thoai/apple-iphone" title="Trên 30 triệu">Trên 30 triệu</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="fs-mntd fs-mntd3">
                                        <p class="fs-mnstit">Bán chạy nhất</p>
                                        <ul class="fs-mnsprod">
                                            <li class="clearfix">
                                                <a class="fs-mnspimg" href="/dien-thoai/iphone-6-32gb">
                                                    <img src="//cdn.fptshop.com.vn/Uploads/Thumbs/2018/5/18/636622605489276625_6-32.png" alt="iPhone 6 32GB (2017)">
                                                </a>
                                                <div>
                                                    <span><a href="/dien-thoai/iphone-6-32gb" title="">iPhone 6 32GB (2017)</a></span>
                                                    <p>6.990.000 ₫</p>
                                                </div>
                                            </li>
                                            <li class="clearfix">
                                                <a class="fs-mnspimg" href="/may-tinh-bang/iPad-2018-WiFi-32gb">
                                                    <img src="//cdn.fptshop.com.vn/Uploads/Thumbs/2018/10/24/636759749550391496_ipad-2018.png" alt="iPad 2018 WiFi 32GB">
                                                </a>
                                                <div>
                                                    <span><a href="/may-tinh-bang/iPad-2018-WiFi-32gb" title="">iPad 2018 WiFi 32GB</a></span>
                                                    <p>8.990.000 ₫</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="fs-mntd fs-mntd4">
                                        <a target="_blank" href="https://fptshop.com.vn/dien-thoai/iphone-xs" title="KM Apple tháng">
                                            <img src="//cdn.fptshop.com.vn/Uploads/Originals/2019/1/2/636820235105041357_Banner-iPhone-XS.png" alt="KM Apple tháng">
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="/may-tinh-bang" title="">
                                <i class="ficon f-tablet"></i> TABLET
                                <span class="ficon"></span>
                            </a>
                            <div class="fs-mnsub">
                                <div class="fs-mnbox">
                                    <div class="fs-mntd fs-mntd1">
                                        <p class="fs-mnstit">Hãng sản xuất</p>
                                        <ul class="fs-mnsul fs-mnsul3 clearfix">
                                            <li>
                                                <a href="/may-tinh-bang/apple-ipad" title="Apple (iPad)">Apple (iPad)</a>
                                            </li>
                                            <li>
                                                <a href="/may-tinh-bang/samsung" title="Samsung">Samsung</a>
                                            </li>
                                            <li>
                                                <a href="/may-tinh-bang/lenovo" title="Lenovo">Lenovo</a>
                                            </li>
                                            <li>
                                                <a href="/may-tinh-bang/masstel" title="Masstel">Masstel</a>
                                            </li>
                                            <li>
                                                <a href="/may-tinh-bang/huawei" title="Huawei">Huawei</a>
                                            </li>
                                            <li>
                                                <a href="/may-tinh-bang/itel" title="Itel">Itel</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="fs-mntd fs-mntd2">
                                        <p class="fs-mnstit">Mức giá</p>
                                        <ul class="fs-mnsul fs-mnsul1 clearfix">
                                            <li>
                                                <a href="/may-tinh-bang/duoi-2-trieu" title="Dưới 2 triệu">Dưới 2 triệu</a>
                                            </li>
                                            <li>
                                                <a href="/may-tinh-bang/tu-2-trieu-den-5-trieu" title="Từ 2 triệu đến 5 triệu">Từ 2 triệu đến 5 triệu</a>
                                            </li>
                                            <li>
                                                <a href="/may-tinh-bang/tu-5-trieu-den-8-trieu" title="Từ 5 triệu đến 8 triệu">Từ 5 triệu đến 8 triệu</a>
                                            </li>
                                            <li>
                                                <a href="/may-tinh-bang/tren-8-trieu" title="Trên 8 triệu">Trên 8 triệu</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="fs-mntd fs-mntd3">
                                        <p class="fs-mnstit">Bán chạy nhất</p>
                                        <ul class="fs-mnsprod">
                                            <li class="clearfix">
                                                <a class="fs-mnspimg" href="/may-tinh-bang/samsung-galaxy-tab-A105">
                                                    <img src="//cdn.fptshop.com.vn/Uploads/Thumbs/2018/9/2/636714822093598058_taba105-1o.png" alt="Samsung Galaxy Tab A 10.5">
                                                </a>
                                                <div>
                                                    <span><a href="/may-tinh-bang/samsung-galaxy-tab-A105" title="">Samsung Galaxy Tab A 10.5</a></span>
                                                    <p>9.490.000 ₫</p>
                                                </div>
                                            </li>
                                            <li class="clearfix">
                                                <a class="fs-mnspimg" href="/may-tinh-bang/huawei-mediapad-t3-70-prestige">
                                                    <img src="//cdn.fptshop.com.vn/Uploads/Thumbs/2017/10/24/636444518526948294_Huawei-MediaPad-T3-7.0-Prestige.png" alt="Huawei MediaPad T3 7.0 Prestige">
                                                </a>
                                                <div>
                                                    <span><a href="/may-tinh-bang/huawei-mediapad-t3-70-prestige" title="">Huawei MediaPad T3 7.0 Prestige</a></span>
                                                    <p>2.090.000 ₫</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="fs-mntd fs-mntd4">
                                        <a target="_blank" href="https://fptshop.com.vn/may-tinh-bang" title="Tablet">
                                            <img src="//cdn.fptshop.com.vn/Uploads/Originals/2018/12/10/636800382970194963_H4.png" alt="Tablet">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="/phu-kien" title="">
                                <i class="ficon f-pkien"></i> PHỤ KIỆN
                                <span class="ficon"></span>
                            </a>
                            <div class="fs-mnsub">
                                <div class="fs-mnbox">
                                    <div class="fs-mntd fs-mntd1">
                                        <p class="fs-mnstit">Các sản phẩm Phụ Kiện</p>
                                        <ul class="fs-mnsul fs-mnsul3 clearfix">
                                            <li>
                                                <a href="/phu-kien/bao-da-op-lung" title="Bao da ốp lưng">Bao da ốp lưng</a>
                                            </li>
                                            <li>
                                                <a href="/phu-kien/sac-du-phong" title="Sạc dự phòng">Sạc dự phòng</a>
                                            </li>
                                            <li>
                                                <a href="/phu-kien/the-nho" title="Thẻ nhớ">Thẻ nhớ</a>
                                            </li>
                                            <li>
                                                <a href="/phu-kien/phu-kien-apple" title="Phụ kiện Apple">Phụ kiện Apple</a>
                                            </li>
                                            <li>
                                                <a href="/phu-kien/mieng-dan-man-hinh" title="Miếng dán màn hình">Miếng dán màn hình</a>
                                            </li>
                                            <li>
                                                <a href="/phu-kien/tai-nghe" title="Tai nghe">Tai nghe</a>
                                            </li>
                                            <li>
                                                <a href="/phu-kien/loa" title="Loa">Loa</a>
                                            </li>
                                            <li>
                                                <a href="/phu-kien/usb-o-cung" title="USB - Ổ cứng">USB - Ổ cứng</a>
                                            </li>
                                            <li>
                                                <a href="/phu-kien/sac-cap" title="Sạc cáp">Sạc cáp</a>
                                            </li>
                                            <li>
                                                <a href="/phu-kien/chuot" title="Chuột">Chuột</a>
                                            </li>
                                            <li>
                                                <a href="/phu-kien/balo-tui-xach" title="Balo - Túi xách">Balo - Túi xách</a>
                                            </li>
                                            <li>
                                                <a href="/phu-kien/tv-box" title="TV BOX">TV BOX</a>
                                            </li>
                                            <li>
                                                <a href="/phu-kien/phu-kien-khac" title="Phụ kiện khác">Phụ kiện khác</a>
                                            </li>
                                            <li>
                                                <a href="/phu-kien/may-choi-game" title="Máy chơi game">Máy chơi game</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="fs-mntd fs-mntd3">
                                        <p class="fs-mnstit">Bán chạy nhất</p>
                                        <ul class="fs-mnsprod">
                                            <li class="clearfix">
                                                <a class="fs-mnspimg" href="/phu-kien/MDMH-iPhone-X-Kinh-cuong-luc-Clear">
                                                    <img src="//cdn.fptshop.com.vn/Uploads/Thumbs/2018/1/25/636524432304682928_636482583480745126_P1510979240_mieng-dan-kinh-cuong-luc-iphone-x-nillkin-amazing-h-pro-1-(1).jpg" alt="MDMH iPhone X Kính cường lực Clear">
                                                </a>
                                                <div>
                                                    <span><a href="/phu-kien/MDMH-iPhone-X-Kinh-cuong-luc-Clear" title="">MDMH iPhone X Kính cường lực Clear</a></span>
                                                    <p>190.000 ₫</p>
                                                </div>
                                            </li>
                                            <li class="clearfix">
                                                <a class="fs-mnspimg" href="/phu-kien/mic-karaoke-kem-loa-bluetooth-va-sdp-icore-m9">
                                                    <img src="//cdn.fptshop.com.vn/Uploads/Thumbs/2018/11/12/636776407035280282_mic-icore.png" alt="Mic Karaoke kèm loa Bluetooth và SDP iCore M9">
                                                </a>
                                                <div>
                                                    <span><a href="/phu-kien/mic-karaoke-kem-loa-bluetooth-va-sdp-icore-m9" title="">Mic Karaoke kèm loa Bluetooth và SDP iCore M9</a></span>
                                                    <p>750.000 ₫</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="fs-mntd fs-mntd4">
                                        <a target="_blank" href="https://fptshop.com.vn/phu-kien" title="Khuyến mãi hot nhất">
                                            <img src="//cdn.fptshop.com.vn/Uploads/Originals/2019/1/2/636820212388054417_248x248.png" alt="Khuyến mãi hot nhất">
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="/may-doi-tra" title="">
                                <i class="ficon f-mdt"></i> MÁY ĐỔI TRẢ
                            </a>
                        </li>
                        <li class="fs-mnulsb">
                            <a href="/sim-so-dep" title="">
                                <i class="ficon f-simthe"></i> SIM &amp; THẺ
                                <span class="ficon"></span>
                            </a>
                        </li>
                        <li class="fs-mnulsb">
                            <a href="/khuyen-mai" title="">
                                <i class="ficon f-kmai"></i> KHUYẾN MÃI
                            </a>
                            <ul class="fs-hdmsub fs-hdmsubsmall">
                                <li>
                                    <a href="/khuyen-mai/thong-tin-trao-thuong" title="">Thông tin trao thưởng</a>
                                </li>
                                <li>
                                    <a href="/khuyen-mai" title="">Tất cả khuyến mại</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/ctkm/tra-gop-uu-dai" title="">
                                <i class="ficon f-tho"></i> TRẢ GÓP 0%
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="fpt-main">
                <div class="fpt-wrap">
                    <div class="fpt-sim">
                        <img class="pink" src="~/Content/images/nhapnhanh.svg" alt="" width="30" height="30">
                        <p><strong>Vinaphone tặng 20%</strong>&nbsp;giá trị thẻ nạp cho thuê bao trả trước trong ngày&nbsp;<strong>18/01</strong>.</p>
                        <a class="fpt-simbtn" href="/sim-so-dep" title="Nạp thẻ ngay">Nạp thẻ ngay!</a>
                    </div>
                    <section class="col-md-8 col-sm-12 col-xs-12">
                        <section class="slidebar-slider">
                            <div class="slidebar-flexslider flexslider">
                                <div class="flex-viewport" style="overflow:hidden;position:relative;margin:20px 0px 0px 0px;">
                                    <ul class="slides" style="width:1300%;transition-duration:0.6s; transform:translate(-4662px,0px,0px)">
                                        <li class="clone" style="float:left; display:block; width:670px;">
                                            <img class="img-responsive" style="width:730px;" src="~/Content/images/636831076646795659_H1.png" />
                                        </li>
                                    </ul>
                                    <div id="fowl2" class="owl-carousel f-slml owl-loaded">
                                        <div class="owl-stage-outer">
                                            <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 801px;">
                                                <div class="owl-item active" style="width: 114.286px;left: 39px;">
                                                    <div class="item">
                                                        <h3>
                                                            <span>iPhone giảm<br>sốc 4 triệu</span>
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="owl-item active" style="width: 114.286px;left: 24px;">
                                                    <div class="item">
                                                        <h3>
                                                            <span>Tết OPPO lì xì<br>tới 1 triệu</span>
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="owl-item active" style="width: 114.286px;left:28px;">
                                                    <div class="item">
                                                        <h3>
                                                            <span>Samsung<br>Galaxy A7</span>
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="owl-item active" style="width: 114.286px; left: 3px;">
                                                    <div class="item">
                                                        <h3>
                                                            <span>Sắm Vivo tặng<br>ngay bia tết</span>
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="owl-item active current" style="width: 114.286px;right: -6px;">
                                                    <div class="item">
                                                        <h3>
                                                            <span>Tết Xiaomi</span>
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="owl-item active" style="width: 114.286px;right:20px">
                                                    <div class="item">
                                                        <h3>
                                                            <span>Tết Laptop</span>
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="owl-item active" style="width: 114.286px;right:49px;">
                                                    <div class="item">
                                                        <h3>
                                                            <span>Ốp lưng Tết<br>chỉ 20.000đ</span>
                                                        </h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </section>
                    <aside class="sidebar-banner sidebar-banner-home col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="banner">
                                <div class="col-md-12 ">
                                    <a target="_blank" href="https://fptshop.com.vn/dien-thoai/honor-play" title="Honor Tết_T1_H2">
                                        <img c src="~/Content/images/636820386711838981_H2-Laptop Gaming - Section1.png" alt="Honor Tết_T1_H2" style="height:102px"/>
                                    </a>
                                </div>
                                <div class="col-md-12 " style="position: absolute; top: 107px;width: 439px;">
                                    <a target="_blank" href="https://fptshop.com.vn/laptop-gaming" title="Laptop Gaming H2">
                                        <img  src="~/Content/images/636833448109016061_H2.png" alt="Laptop Gaming H2" style="height:94px"/>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </aside>
                    <div class="col-md-12 col-sm-6 col-xs-12">
                        <div class="col-md-4 alay">
                            <h3>TIN CÔNG NGHỆ NỔI BẬT</h3>
                            <a href="/tin-tuc" target="_blank" title="">Xem tất cả</a>
                        </div>
                        <div class="col-md-4 piker">
                            <a class="clearfix" href="/tin-tuc/tin-moi/hot-hinh-anh-tren-tay-galaxy-s10-bat-ngo-ro-ri-thuc-te-79248" title="[HOT] Hình ảnh trên tay Galaxy S10 + bất ngờ rò rỉ thực tế">
                                <span>
                                    <img class="img-responsive" style="width: 80px;" src="~/Content/images/636834047537271625_galaxy-s10-cover.jpg" />
                                </span>
                                <h3 style="position: absolute; font-size: 14px;color: #1f1f1f;height: 40px;top: -18px;line-height: 1.43;right: 43px;display: block;">[HOT] Hình ảnh trên tay Galaxy S10 +<br> bất ngờ rò rỉ thực tế</h3>
                            </a>
                        </div>
                        <div class="col-md-4 linker">
                            <a class="clearfix" href="/tin-tuc/danh-gia/chiem-nguong-ve-dep-hut-hon-cua-vivo-y91-phien-ban-aura-blue-78950" title="Chiêm ngưỡng vẻ đẹp hút hồn của Vivo Y91 phiên bản Aura Blue">
                                <span>
                                    <img class="img-responsive" style="width: 80px;" src="~/Content/images/636833367182650545_galaxy-s10-plus-fptshop.jpg" />
                                </span>
                                <h3 style="font-size: 14px; position: absolute;top: -12px;line-height: 1.43;left: 117px;">Chiêm ngưỡng vẻ đẹp hút hồn của<br>Vivo Y91 phiên bản Aura Blue</h3>
                            </a>
                        </div>
                    </div>
                    <div class="sp-inline-wrap sp-inline-wrap-870 sp-advanced-css-870" style="visibility: visible; margin-left: 0px; margin-top: 0px; box-shadow: none; border-radius: 0px; border-width: 1px; border-color: rgb(51, 51, 51); display: inline-block;">
                        <iframe class="sp-inline-iframe sp-inline-iframe-870" style="display: block; visibility: visible; width: 0px; height: 0px; border: none; border-radius: 0px;" src="https://fptshop.api.useinsider.com/frame.php?viewType=1&amp;id=870&amp;appType=24&amp;pageUrl=https%3A%2F%2Ffptshop.com.vn%2F&amp;version=1547865100" frameborder="0"></iframe>
                    </div>
                    <div style="padding:0px 0px 18px 0px;">
                        <a href="https://fptshop.com.vn/dien-thoai/samsung-galaxy-note-9" target="_blank">
                            <img class="img-responsive" src="~/Content/images/636820918985512660_H5.png" style="padding-left: 53PX; padding-top: 50px; width: 97%;height:120px; left: 45px;"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  @RenderBody()
    <div class="footer">
        <div class="row multipe">
            <div class="fs-ftcol fs-ftcol1">
                <ul class="fs-ftul">
                    <li>
                        <a target="_blank" rel="nofollow" href="http://frt.vn/">Giới thiệu về công ty</a>
                    </li>
                    <li>
                        <a href="//fptshop.com.vn/huong-dan/cau-hoi-thuong-gap" title="Câu hỏi thường gặp mua hàng">Câu hỏi thường gặp mua hàng</a>
                    </li>
                    <li>
                        <a href="//fptshop.com.vn/ho-tro/chinh-sach-bao-mat" title="">Các chính sách FPT Shop</a>
                    </li>
                    <li>
                        <a href="//fptshop.com.vn/tos" title="">Quy chế hoạt động</a>
                    </li>
                    <li>
                        <a href="http://hddt.fptshop.com.vn/" title="">Kiểm tra hóa đơn điện tử</a>
                    </li>
                    <li>
                        <a href="//fptshop.com.vn/kiem-tra-bao-hanh?tab=thong-tin-bao-hanh" title="">Tra cứu thông tin bảo hành</a>
                    </li>
                </ul>
            </div>
            <div class="fs-ftcol fs-ftcol1">
                <ul class="fs-ftul">
                    <li>
                        <a href="//vieclam.fptshop.com.vn/">Tin tuyển dụng</a>
                    </li>
                    <li>
                        <a href="//fptshop.com.vn/tin-tuc/Tin-khuyen-mai" title="">Tin khuyến mãi</a>
                    </li>
                    <li>
                        <a href="//fptshop.com.vn/huong-dan/huong-dan-mua-hang" title="">Hướng dẫn mua online</a>
                    </li>
                    <li>
                        <a href="//fptshop.com.vn/tra-gop" title="">Hướng dẫn mua trả góp</a>
                    </li>
                    <li>
                        <a href="https://fptshop.com.vn/ho-tro/chinh-sach-tra-gop" title="">Chính sách trả góp</a>
                    </li>
                </ul>
            </div>
            <div class="fs-ftcol fs-ftcol1">
                <ul class="fs-ftul">
                    <li>
                        <a href="//fptshop.com.vn/cua-hang">Hệ thống cửa hàng</a>
                    </li>
                    <li>
                        <a href="//fptshop.com.vn/ho-tro/chinh-sach-bao-hanh" title="">Hệ thống bảo hành</a>
                    </li>
                    <li>
                        <a href="//fptshop.com.vn/kiem-tra-hang-apple-chinh-hang" title="">Kiểm tra hàng Apple chính hãng</a>
                    </li>
                    <li>
                        <a href="//fptshop.com.vn/ho-tro/gioi-thieu-may-doi-tra" title="">Giới thiệu máy đổi trả</a>
                    </li>
                    <li>
                        <a href="https://fptshop.com.vn/ho-tro/chinh-sach-doi-san-pham" title="">Chính sách đổi trả</a>
                    </li>
                </ul>
            </div>
            <div class="fs-ftcol  fs-ftcol2">
            <ul class="fs-ftr2 clearfix">
                <li> 
                <p>Tư vấn mua hàng (Miễn phí)</p> 
                <a href="tel:18006601" title="">1800 6601</a> 
                    </li>
                <li> 
                <p>Góp ý, khiếu nại dịch vụ (8h00-22h00)</p> 
                <a href="tel:18006616" title="">1800 6616</a> 
                    </li>
                </ul>
            <div class="fs-ftrright">
                <div class="fs-ftr1">
                <p class="fs-ftrtit">Hỗ trợ thanh toán:</p>
                <a class="fs-ftr-vs" href="javascript:;" title="">
                    <img src="~/Content/images/visa.png" />
                </a>
                <a class="fs-ftr-mt" href="javascript:;" title="">
                    <img src="~/Content/images/mastercard.png" />
                </a>
                <a class="fs-ftr-atm" href="javascript:;" title="">
                    <img src="~/Content/images/ATM.png" />
                </a>
                    </div>
                <div class="fs-ftr3">
                <p class="fs-ftrtit">Chứng nhận:</p>
                <ul>
                    <li>
                    <a class="fs-ftr-cthuong" href="http://online.gov.vn/CustomWebsiteDisplay.aspx?DocId=21891" title="">
                        <img src="~/Content/images/thongbao.png" />
                    </a>
                        </li>
                    <li>
                    <a class="fs-ftr-dmca" href="javascript:;" title="">
                        <img src="~/Content/images/IDMCA.png" />
                    </a>
                        </li>
                    <li>
                    <a class="fs-ftr-sp" href="javascript:;" title="">
                        <img src="~/Content/images/sanphamdichvu.png" />
                    </a>
                        </li>
                    <li>
                    <a class="fs-ftr-thieuvn" href="javascript:;" title="">
                        <img src="~/Content/images/chungnhanvietnam.png" />
                    </a>
                        </li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
